<div class="container">
  <h1>Mes favoris</h1>

   <div class="d-grid gap-4 mt-4" style="grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); max-width: 1000px; margin: auto;">
    <% @favorites.each do |favorite| %>
      <div class="activity-card" id=<%= dom_id(favorite) %>>

       <div class="favorite-container">
       <%= link_to toggle_activity_favorites_path(favorite.activity),
                  data: { turbo_method: :post },
                  class: "favorite-btn" do %>
         <%= render "favorites/favorite", favorite: favorite %>
       <% end %>
        </div>

        <!-- Bouton de suppression -->
        <%# <div class="text-end me-2">
          <%= link_to favorite_path(favorite), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" } do %>
            <%# <i class="fa-solid fa-xmark" aria-hidden="true"></i> %>
            <%# <span class="sr-only">Supprimer</span> %>
          <%# <% end %>
        <%# </div> %>

        <!-- Titre et lien -->
        <h2 class="title">
          <%= link_to favorite.activity.name, activity_path(favorite.activity), class: "text-decoration-none" %>
        </h2>

        <!-- Image de l'activité -->
        <%# <div class="image-container text-center"> %>
          <%#= image_tag "board-game.png", class: "w-100 object-fit-cover rounded-4", height: '200px' %>
        <%# </div> %>

         <%# <!-- Image de l'activité -->
        <div class="image-container text-center">
          <% if favorite.activity.photo.attached? %>
            <%# <%= cl_image_tag favorite.activity.photo.key, class: "w-100 object-fit-cover rounded-4", height: '200px', alt: "AI-generated image of the activity" %>
          <%# <% else %>
            <%# <%= image_tag "board-game.png", class: "w-100 object-fit-cover rounded-4", height: '200px', alt: "Default image for activity" %>
          <%# <% end %>
        <%# </div> %>


          <!-- Icônes de l'activité -->
        <div class="activity-icons d-flex justify-content-center gap-3 mt-3 mb-3">
      <div class="circle">
        <% if favorite.activity.setting == "extérieur" %>
          <i class="fa-solid fa-sun setting-icon activity-icon"></i>
        <% else %>
          <i class="fa-solid fa-house setting-icon activity-icon"></i>
        <% end %>
      </div>
          <%# <div class="duration-container circle">
            <%= activity.formatted_duration %>
          <%# </div> %>
          <div class="circle">
            <span class="age-icon"><%= favorite.activity.formatted_age %></span>
          </div>
        </div>


        <!-- Description -->
        <div class="activity-card-description mx-2">
          <%= link_to activity_path(favorite.activity), class: "text-decoration-none" do %>
            <p class="card-text">
              <%= favorite.activity.description[0..200] %> <strong>... afficher plus</strong>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Zone indépendante pour le cœur en haut de la carte -->
<%# <div class="favorite-container position-relative">
                <%= link_to toggle_activity_favorites_path(activity),
                            data: { turbo_method: :post },
                            id: "favorite_button_#{activity.id}",
                            class: "favorite-button p-2" do %>
                  <%# <% if current_user.favorites.exists?(activity: activity) %>
                    <%# <i class="fa-solid fa-heart text-danger"></i>
                  <% else %>
                    <%# <i class="fa-regular fa-heart text-danger"></i>
                  <% end %>
                <%# <% end %>
              <%# </div> %>
