<h1>Mes activitées favorites</h1>

<p><%= link_to "Retour aux activités", activities_path %></p>

<% @favorites.each do |favorite| %>
  <p><%= link_to favorite.activity.name, activity_path(favorite.activity) %></p>
  <p><%= favorite.activity.minimum_age %></p>
  <p><%= favorite.activity.duration %></p>
  <p><%= favorite.activity.setting %></p>
<% end %>
