<%= form_with url: activities_path, method: :get, data: { controller: "activities-form" } do %>
  <div class="col-sm-8">
    <input type="text" name="query" value="<%= params[:query] %>" class="form-control searchbar" data-action="input->activities-form#updateFilters" placeholder="Chercher une activité..." />
  </div>

  <div class="settings" data-controller="filter">
    <% @settings.to_a.select { |setting| ["intérieur", "extérieur"].include?(setting) }.each do |setting| %>
      <label for=<%= setting %> data-action="change->activities-form#updateFilters" class="label-filter">
        <span><%= setting %></span>
        <input type="checkbox" id=<%= setting %> name="setting" value=<%= setting %> data-filter-target="input" data-action="change->filter#check">
      </label>
    <% end %>
  </div>

  <div class="minimum_age" data-controller="filter">
    <% @age_ranges.to_a.select { |age_range| ["3-5", "6-10", "11-13"].include?(age_range) }.each do |age_range| %>
      <label for=<%= age_range %> data-action="change->activities-form#updateFilters" class="label-filter">
        <span><%= age_range %> ans</span>
        <input type="checkbox" id=<%= age_range %> name="minimum_age" value=<%= age_range %> data-filter-target="input" data-action="change->filter#check">
      </label>
    <% end %>
  </div>
<% end %>
