<div class="container home-container">
  <div class="topbar row mt-3 d-flex align-items-center">
    <div class="logo col-auto">
      <%= render 'shared/topbar' %>
    </div>

    <div class="bonjour-user col">
      <h3 class="mb-1">Bonjour
        <% if user_signed_in? %>
          <span class="text-center"><%= current_user.email.split("@")[0].capitalize %></span>
        <% end %>
      </h3>
    </div>
  </div>

  <%= form_with url: activities_path, method: :get, class: "d-flex align-items-center search-container", data: { turbo_frame: "_top" } do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control searchbar",
      placeholder: "Chercher une activité..."
    %>
    <%= submit_tag "Rechercher", name: "", class: "btn-search ms-2" %>
  <% end %>

  <div class="inspiration">
    <div class="inspiration-card">
      <%= link_to activity_path(@random_activity) do %>
        <div class="d-flex justify-content-between text-start">
          <h3><%= @random_activity.name.capitalize %></h3>
          <%= image_tag "inspiration.png", class:"home-icon" %>
        </div>
        <div>
          <p><%= @random_activity.description[0..110] %><strong> ...</strong> </p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="planning-card">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="date mb-0"><%= I18n.l(Date.today, format: "%A %d %B") %></h3>
      <div class="d-flex flex-column align-items-center me-3">
        <% if @current_weather.present? %>
          <div>
            <%= image_tag "weather/#{@current_weather["icon"]}.png", class: "weather-img" %>
          </div>
          <div>
            <p class="mb-0 mx-2"><strong><%= @temperature_c.round %>°C</strong></p>
          </div>
        <% else %>
          <div>
            <%= image_tag "weather/partly-cloudy-day.png" %>
          </div>
          <div class="d-flex flex-column ms-2 justify-content-center">
            <p class="mb-0">10 °C</p>
          </div>
        <% end %>
      </div>
    </div>

    <% if @today_slots.blank? %>
      <div class="mt-3">
        <p class="text-start">Rien de prévu pour le moment.</p>
      </div>

    <% else %>
      <div >
        <% @today_slots.each do |slot| %>
          <div class="row my-3">
            <div class="col-12 datetime">
              <% ds = DateTime.parse((slot.start_at).to_s) %>
              <% de = DateTime.parse((slot.end_at).to_s) %>

              <% if ds.min.zero? %>
                <p><strong><%= ds.hour %>h -
                  <% if de.min.zero? %>
                    <%= de.hour %>h</strong></p>
                  <% else %>
                    <%= de.hour %>h<%= de.min %></strong></p>
                  <% end %>
              <% else %>
                <p><strong><%= ds.hour %>h<%= ds.min %> -
                  <% if de.min.zero? %>
                    <%= de.hour %>h</strong></p>
                  <% else %>
                    <%= de.hour %>h<%= de.min %><strong></p>
                  <% end %>
              <% end %>
            </div>

            <div class="col-12">
              <% if slot.activity.nil? %>
                <p class="no-activity">Pas d'activité prévue
                  <%= link_to planning_path, class: "add-activity" do %>
                    <span class="fa-stack" style="display: inline-flex; align-items: center; vertical-align: middle;">
                      <i class="fa-solid fa-circle fa-stack-2x"></i>
                      <i class="fa-solid a-solid fa-arrow-up-right-from-square fa-stack-1x fa-inverse" style="color: #ffeaae;"></i>
                    </span>
                  <% end %>
                </p>
              <% else %>
                <p><strong><%= link_to slot.activity.name, activity_path(slot.activity), class: "activity mt-2 d-inline-block" %></strong></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
