  <div class="container home-container mt-3">

    <div><%= render 'shared/searchbar' %><div>

    <div>
      <h2 class="text-center mt-5 mb-3">Bonjour
        <% if user_signed_in? %>
          <span class="text-center mb-5"><%= current_user.email.split("@")[0] %></span>
        <% end %>
      </h2>

      <div class="inspiration-card py-3 px-3">
          <div class="d-flex justify-content-between">
            <h5 style="line-height: 30px"><strong><%= @random_activity.name %></strong></h5>
            <%= image_tag "inspiration.png", class:"home-icon" %>
          </div>
          <div>
            <%= @random_activity.description[0..110] %>...
            <span><strong><%= link_to "afficher plus", activity_path(@random_activity) %></strong></span>
          </div>
      </div>
    </div>

    <div>
      <h2 class="text-center mt-5"><%= I18n.l(Date.today, format: :long) %></h2>

        <div class="d-flex justify-content-center mb-2">
          <div>
            <%= image_tag "weather/partly-cloudy-day" %>
          </div>

          <div class="d-flex flex-column ms-2 justify-content-center">
              <p class="mb-0"><%= @temperature_c.round %> °C</p>
              <p class="mb-0">ressenti <%= @feel_temperature_c.round %> °C</p>
          </div>
        </div>

      <% if @today_slots.blank? %>
        <p class="text-center">Rien de prévu pour le moment.</p>

      <% else %>
        <div style="background-color:rgb(143, 205, 237); border-radius: 25% 10%; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);" class="py-2 px-3">
          <div class="d-flex justify-content-end">
            <%= image_tag "clock.png", class:"home-icon" %>
          </div>
          <% @today_slots.each do |slot| %>
            <div class="row my-3">
              <div class="col-4">
                <% ds = DateTime.parse((slot.start_at).to_s) %>
                <% de = DateTime.parse((slot.end_at).to_s) %>

                <% if ds.min.zero? %>
                  <p><strong><%= ds.hour %>h -
                    <% if de.min.zero? %>
                      <%= de.hour %>h</strong></p>
                    <% else %>
                      <%= de.hour %>h<%= de.min %></strong></p>
                    <% end %>
                <% else %>
                  <p><strong><%= ds.hour %>h<%= ds.min %> -
                    <% if de.min.zero? %>
                      <%= de.hour %>h</strong></p>
                    <% else %>
                      <%= de.hour %>h<%= de.min %><strong></p>
                    <% end %>
                <% end %>
              </div>

              <div class="col-8">
                <% if slot.activity.nil? %>
                  <p>Pas d'activité prévue<strong>
                    <%= link_to " (+)", planning_path %></strong></p>
                <% else %>
                  <p><strong><%= link_to slot.activity.name, activity_path(slot.activity) %></strong></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# <div>
      <%= @daily_weather %>
      <%#= @daily_weather["temp"] %>
      <%#= @daily_weather["description"] %>
      <%#= @daily_weather["icon"] %>
    <%# </div> %>

  </div>
