<h1 class="text-center mt-3"><%= @selected_month %></h1>

<%= render SimpleCalendar::BusinessWeekCalendar.new(self, number_of_days: 5, attribute: :start_at, end_attribute: :end_at) do |date| %>
  <%= link_to date.day, "/planning?start_date=#{date}", class:"date-circle" %>
<% end %>


<div class="container">
  <% @slots.each do |slot| %>

    <div class="d-flex border justify-content-between py-4 mb-3 px-3 align-items-center">

      <div>
        <% ds = DateTime.parse((slot.start_at).to_s) %>
        <% de = DateTime.parse((slot.end_at).to_s) %>
        <p class="mb-0 text-center">
          <% if ds.min.zero? %>
            <span><%= ds.hour %>h</span>
          <% else %>
            <span><%= ds.hour %>h<%= ds.min %></span>
          <% end %>
        </p>
        <p class="mb-0 text-center">-</p>
        <p class="mb-0 text-center">
          <% if de.min.zero? %>
            <span><%= de.hour %>h</span>
          <% else %>
            <span><%= de.hour %>h<%= de.min %></span>
          <% end %>
        </p>
      </div>

      <% if slot.activity.nil? %>
        <div class="d-flex">
          <button type="button" class=" slot-empty btn py-4" data-bs-toggle="modal" data-bs-target="#<%= dom_id(slot) %>">
            +
          </button>
        </div>
      <% else %>
          <div class="d-flex position-relative">
            <button type="button" class="slot-full btn py-4" data-bs-toggle="modal" data-bs-target="#<%= dom_id(slot) %>">
              <%= slot.activity.name %>
            </button>
            <%= link_to reset_slot_path(slot), class:"position-absolute", style:"top: 5px; right: 10px;", data: { turbo_method: :patch, turbo_confirm: 'Enlever cette activité ?' } do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
      <% end %>
    </div>

  <% end %>
</div>





<!-- Modal -->
<% @slots.each do |slot| %>
  <div class="modal fade" id="<%= dom_id(slot) %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajoute une activité</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% ds = DateTime.parse((slot.start_at).to_s) %>
          <% de = DateTime.parse((slot.end_at).to_s) %>

          <% if ds.min.zero? %>
                  <h3 class="text-center"><strong><%= ds.hour %>h -
                    <% if de.min.zero? %>
                      <%= de.hour %>h</strong></h3>
                    <% else %>
                      <%= de.hour %>h<%= de.min %></strong></h3>
                    <% end %>
                <% else %>
                  <h3 class="text-center"><strong><%= ds.hour %>h<%= ds.min %> -
                    <% if de.min.zero? %>
                      <%= de.hour %>h</strong></h3>
                    <% else %>
                      <%= de.hour %>h<%= de.min %><strong></h3>
                    <% end %>
                <% end %>

          <% @favorites.each do |favorite| %>
            <div class="card mb-2">
              <div class="card-body">

                  <div class="d-flex justify-content-between">
                    <h5 class="card-title"><strong><%= favorite.activity.name %></strong></h5>
                    <%= link_to slot_path(slot, activity_id: favorite.activity.id), data: { turbo_method: :patch } do %>
                      <i class="fa-solid fa-plus"></i>
                    <% end %>
                  </div>

                  <p class="card-text"><%= favorite.activity.description[0..110] %></p>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<% end %>
