<h1 class="text-center"><%= @selected_month %></h1>

<%= render SimpleCalendar::BusinessWeekCalendar.new(self, number_of_days: 5, attribute: :start_at, end_attribute: :end_at) do |date| %>
  <%= link_to date.day, "/planning?start_date=#{date}", class:"date-circle" %>
<% end %>


<div class="container">
  <% @slots.each do |slot| %>

    <div class="d-flex border justify-content-between py-3 mb-3 px-3 align-items-center">

      <div>
        <% ds = DateTime.parse((slot.start_at).to_s) %>
        <% de = DateTime.parse((slot.end_at).to_s) %>
        <p class="mb-0 text-center">
          <% if ds.min.zero? %>
            <span><%= ds.hour %>h</span>
          <% else %>
            <span><%= ds.hour %>h<%= ds.min %></span>
          <% end %>
        </p>
        <p class="mb-0 text-center">-</p>
        <p class="mb-0 text-center">
          <% if de.min.zero? %>
            <span><%= de.hour %>h</span>
          <% else %>
            <span><%= de.hour %>h<%= de.min %></span>
          <% end %>
        </p>
      </div>

      <% if slot.activity.nil? %>
        <div class="d-flex mx-auto">
          <button type="button" class="slot-empty btn py-4" data-bs-toggle="modal" data-bs-target="#<%= dom_id(slot) %>">
            +
          </button>
        </div>
      <% else %>
          <div class="d-flex position-relative">
            <button type="button" class="slot-full btn py-4" data-bs-toggle="modal" data-bs-target="#<%= dom_id(slot) %>">
              <%= slot.activity.name %>
            </button>
            <%= link_to reset_slot_path(slot), class:"position-absolute", style:"top: 5px; right: 10px;", data: { turbo_method: :patch, turbo_confirm: 'Enlever cette activité ?' } do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
      <% end %>
    </div>

  <% end %>
</div>





<!-- Modal -->
<% @slots.each do |slot| %>
  <div class="modal fade" id="<%= dom_id(slot) %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="align-items: start;">
          <h1 id="exampleModalLabel">Ajouter une activité</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <% ds = DateTime.parse((slot.start_at).to_s) %>
          <% de = DateTime.parse((slot.end_at).to_s) %>

          <% if ds.min.zero? %>
            <h3 class="text-center"><strong><%= ds.hour %>h -
              <% if de.min.zero? %>
                <%= de.hour %>h</strong></h3>
              <% else %>
                <%= de.hour %>h<%= de.min %></strong></h3>
              <% end %>
          <% else %>
            <h3 class="text-center"><strong><%= ds.hour %>h<%= ds.min %> -
              <% if de.min.zero? %>
                <%= de.hour %>h</strong></h3>
              <% else %>
                <%= de.hour %>h<%= de.min %><strong></h3>
              <% end %>
          <% end %>

          <div class="d-grid gap-4 mt-4" style="grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); max-width: 1000px; margin: auto;">
            <% if @favorites %>
                <% @favorites.each do |favorite| %>
                  <div class="activity-card">

                    <h2 class="title"><%= favorite.activity.name.capitalize %><h2>

                    <div class="favorite-container">
                      <%= link_to slot_path(slot, activity_id: favorite.activity.id), data: { turbo_method: :patch } do %>
                        <i class="fa-solid fa-plus"></i>
                      <% end %>
                    </div>

                    <div class="activity-icons d-flex justify-content-center gap-3 mt-3 mb-3">
                      <div class="circle">
                        <% if favorite.activity.setting == "extérieur" %>
                          <i class="fa-solid fa-sun setting-icon activity-icon"></i>
                        <% else %>
                          <i class="fa-solid fa-house setting-icon activity-icon"></i>
                        <% end %>
                      </div>

                      <div class="circle">
                        <span class="age-icon"><%= favorite.activity.formatted_age %></span>
                      </div>
                    </div>

                    <div class="activity-card-description mx-2">
                      <%= link_to activity_path(favorite.activity), class: "text-decoration-none" do %>
                        <p class="card-text">
                          <%= favorite.activity.description[0..110] %> <strong>... afficher plus</strong>
                        </p>
                      <% end %>
                    </div>

                  </div>
                <% end %>
              <% else %>
                <p>Vous n'avez pas encore de favoris.</p>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
