<div class="simple-calendar">
  <div class="calendar-heading">
    <span class="calendar-title">
      <%= t('simple_calendar.week', default: '') %>
    </span>

    <div class="d-flex justify-content-between fs-4 mb-2">
      <%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view, class:"text-decoration-none ms-2" %>
      <%= link_to t('simple_calendar.today', default: 'Aujourd\'hui'), calendar.url_for_today_view, class:"text-decoration-none link-today" %>
      <%= link_to t('simple_calendar.next', default: '>>'), planning_path(start_date: date_range.first + 1.week), class:"text-decoration-none me-2" %>
    </div>
  </div>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <th class="text-center"><%= t('date.abbr_day_names')[day.wday] %><br>
              <% if @daily_weather.present? %>
                <% daily_weather_data = @daily_weather.find { |weather| weather["datetime"] == day.strftime('%Y-%m-%d') } %>
                <% if daily_weather_data %>
                  <%= image_tag "weather/#{daily_weather_data["icon"]}.png", height:"30px", class:"mb-1" %>
                <% else %>
                   <%= image_tag "weather/partly-cloudy-day.png", height: "30px", class: "mb-1", style: "opacity: 0.3;" %>
                <% end %>
              <% end %>
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
