<div class="container mt-4">
  <div class="activity-card-show">
    <div class="title-favorite d-flex justify-content-between align-items-center">
      <h1><%= @activity.name %></h1>
      <%= link_to toggle_activity_favorites_path(@activity),
      data: { turbo_method: :post },
      id: "favorite_btn_#{@activity.id}",
      class: "favorite-btn" do %>
        <% if current_user.favorites.exists?(activity: @activity) %>
          <i class="fa-solid fa-heart favorite-btn-show"></i>
        <% else %>
          <i class="fa-regular fa-heart favorite-btn-show"></i>
        <% end %>
      <% end %>
    </div>

    <%= link_to activity_path(@activity) do %>
      <%= image_tag @activity.image_path, class: "w-100 object-fit-cover position-center h-auto rounded-4" %>
    <% end %>


    <div class="activity-icons d-flex justify-content-center gap-3 pt-2 my-1">
      <div class="circle">
        <%= image_tag @activity.image_for_setting, alt: @activity.setting, class: "activity-icon" %>
      </div>

       <div
       class="duration-container circle">
         <%= @activity.formatted_duration %>
        <span class="break-min">min</span>
      </div>

      <div class="circle"><%= @activity.formatted_age %></div>
    </div>

  </div>

  <div class="activity-card-show-description">
    <h5 class="title text-start">Description</h5>
    <p class="card-text activity-card-description"><%= @activity.description[0..1000] %></p>
  </div>

  <div class="activity-card-show-description">
    <h5 class="title text-start">Matériel</h5>
    <% if @activity.material = "néant" %>
        <p class="card-text">Aucun matériel nécessaire</p>
    <% else %>
      <p class="card-text"><%= @activity.material %></p>
    <% end %>
  </div>

  <%= link_to "Retour à la liste d'activités", activities_path, class: "text-decoration-none d-block text-center mt-2" %>
</div>
