<div>
<h1><%= @activity.name %></h1>

  <div>
    <%= cl_image_tag @activity.photo.key, alt: "AI-generated image of the activity" if @activity.photo.attached? %>
  </div>

<p><%= @activity.description %></p>
<p><%= @activity.setting %></p>
<p><%= @activity.minimum_age ? @activity.minimum_age : "Aucun âge minimum requis" %></p>
<p><%= @activity.duration ? @activity.duration : "durée indéterminée" %></p>

<%= link_to toggle_activity_favorites_path(@activity),
  data: { turbo_method: :post },
  id: "favorite_button_#{@activity.id}" do %>
  <% if @activity.photo.attached? %>
    <%= cl_image_tag @activity.photo.key %>
  <% else %>
    <%= image_tag "board-game.png" %>
  <% end %>

  <% if current_user.favorites.exists?(activity: @activity) %>
    <i class="fa-solid fa-heart text-danger"></i>
  <% else %>
    <i class="fa-regular fa-heart text-danger"></i>
  <% end %>
<% end %>

<%= link_to "Retour à la liste d'activités", activities_path, class: "btn btn-primary" %>
</div>
